<div mat-dialog-content class="mat-dialog-content">
    <h3>Créer un compte</h3>
</div>
<div mat-dialog-actions class="dialog-confirm-wrapper">
    <div>
        <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Jean" [(ngModel)]="prenom" (keypress)="onKeypressEvent($event)">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Dupont" [(ngModel)]="nom" (keypress)="onKeypressEvent($event)">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Login</mat-label>
            <input matInput placeholder="JeanDupont" [(ngModel)]="userName" (keypress)="onKeypressEvent($event)">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="xxx" [(ngModel)]="password" (keypress)="onKeypressEvent($event)">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="createAccount()">
        <mat-icon>person_add</mat-icon>
        Créer
    </button>
    <div class="text-danger" >{{errorMessage}}</div>
    <div class="link-wrapper">
        <a class="link" color="primary" (click)="login()">
            <mat-icon>keyboard_return</mat-icon>
            Retour
        </a>
    </div>
</div>
