<div class="main-page-card-title">
    <h3 style="display: inline;">Gestion des données</h3>
</div>
<mat-card>
    <div class="main-page-card-wrapper">
        Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        <br />Administration de la base de données
        fin
    </div>
</mat-card>


