################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Saniteau
/01-Front/Saniteau/obj
/01-Front/Tests/Saniteau.Tests/obj
/02-Compteurs/Saniteau.Compteurs.Application/obj
/02-Compteurs/Saniteau.Compteurs.Contract/obj
/02-Compteurs/Saniteau.Compteurs.Domain/obj
/02-Compteurs/Saniteau.Compteurs.Repository/obj
/02-Compteurs/Tests/Saniteau.Compteurs.Application.Tests/obj
/02-Compteurs/Tests/Saniteau.Compteurs.Domain.Tests/obj
/02-Compteurs/Tests/Saniteau.Compteurs.Repository.Tests/obj
/03-Releves/Saniteau.Releves.Application/obj
/03-Releves/Saniteau.Releves.Contract/obj
/03-Releves/Saniteau.Releves.Domain/obj
/03-Releves/Saniteau.Releves.Repository/obj
/03-Releves/Tests/Saniteau.Releves.Domain.Tests/obj
/04-Facturation/Saniteau.Facturation.Application/obj
/04-Facturation/Saniteau.Facturation.Contract/obj
/04-Facturation/Saniteau.Facturation.Domain/obj
/04-Facturation/Saniteau.Facturation.Repository/obj
/04-Facturation/Tests/Saniteau.Facturation.Domain.Tests/obj
/04-Facturation/Tests/Saniteau.Facturation.Repository.Tests/obj
/05-DSP/Saniteau.DSP.Application/obj
/05-DSP/Saniteau.DSP.Contract/obj
/05-DSP/Saniteau.DSP.Domain/obj
/05-DSP/Saniteau.DSP.Repository/obj
/05-DSP/Tests/Saniteau.DSP.Domain.Tests/obj
/05-DSP/Tests/Saniteau.DSP.Repository.Tests/obj
/07-Infrastructure/Saniteau.Infrastructure.DataContext/obj
/07-Infrastructure/Saniteau.Infrastructure.DataModel/obj
/08-Common/Saniteau.Common/obj
/08-Common/Tests/Saniteau.Common.Tests/obj
/01-Front/Saniteau/bin/Debug/netcoreapp3.1
/02-Compteurs/Saniteau.Compteurs.Application/bin/Debug/netcoreapp3.1
/02-Compteurs/Saniteau.Compteurs.Contract/bin/Debug/netcoreapp3.1
/02-Compteurs/Saniteau.Compteurs.Domain/bin/Debug/netcoreapp3.1
/02-Compteurs/Saniteau.Compteurs.Repository/bin/Debug/netcoreapp3.1
/03-Releves/Saniteau.Releves.Application/bin/Debug/netcoreapp3.1
/03-Releves/Saniteau.Releves.Contract/bin/Debug/netcoreapp3.1
/03-Releves/Saniteau.Releves.Domain/bin/Debug/netcoreapp3.1
/03-Releves/Saniteau.Releves.Repository/bin/Debug/netcoreapp3.1
/04-Facturation/Saniteau.Facturation.Application/bin/Debug/netcoreapp3.1
/04-Facturation/Saniteau.Facturation.Contract/bin/Debug/netcoreapp3.1
/04-Facturation/Saniteau.Facturation.Domain/bin/Debug/netcoreapp3.1
/04-Facturation/Saniteau.Facturation.Repository/bin/Debug/netcoreapp3.1
/05-DSP/Saniteau.DSP.Application/bin/Debug/netcoreapp3.1
/05-DSP/Saniteau.DSP.Contract/bin/Debug/netcoreapp3.1
/05-DSP/Saniteau.DSP.Domain/bin/Debug/netcoreapp3.1
/05-DSP/Saniteau.DSP.Repository/bin/Debug/netcoreapp3.1
/07-Infrastructure/Saniteau.Infrastructure.DataContext/bin/Debug/netcoreapp3.1
/07-Infrastructure/Saniteau.Infrastructure.DataModel/bin/Debug/netcoreapp3.1
/08-Common/Saniteau.Common/bin/Debug/netcoreapp3.1
