<div class="main-page-card-title">
    <h3 style="display: inline;">Délégation de service public</h3>
</div>
<mat-card>
    <div class="main-page-card-wrapper">
        <h3>Accueil du délégataire</h3>
        <div style="display: flex" class="mat-error">
            <span [ngClass]="{'errorMessageDelegationPaye' : errorMessage != ''}">{{errorMessage}}</span>
        </div>
        <div style="clear:both;"></div>
        <div class="retribution-delegataire-identite-wrapper">
            <div>
                <img src="../../../wwwroot/img/institution-bancaire.png" alt="Rétribution délégataire" class="img-facturation-dsp">
            </div>
            <div class="retribution-delegataire-image-et-identite-divider"></div>
            <div>
                <div class="action-icon" [ngStyle]="{'display': isEditMode ? 'none' : 'block'}" style="float:right">
                    <a href="javascript:void(0)" (click)="setEditMode(true)"><mat-icon>edit</mat-icon></a>
                </div>
                <div style="clear:both"></div>
                <div [ngStyle]="{'display': isEditMode ? 'none' : 'block'}">
                    <div class="retribution-delegataire-edit-identite">
                        <span>{{nomDelegant}}</span>
                        <div style="clear:both"></div>
                        <span>{{adresseDelegant}}</span>
                        <div style="clear:both"></div>
                        <span>{{dateToString(dateContratDelegant)}}</span>
                    </div>
                </div>
                <div [ngStyle]="{'display': isEditMode ? 'block' : 'none'}">
                    <div class="retribution-delegataire-edit-identite">
                        <mat-form-field appearance="fill" style="width: 100%">
                            <mat-label>Nom du délégataire</mat-label>
                            <input type="text"
                                   placeholder="Ville de Paris"
                                   aria-label="Nom du délégataire"
                                   matInput
                                   [formControl]="nomDelegantControl">
                        </mat-form-field>
                        <div style="clear:both"></div>
                        <mat-form-field appearance="fill" style="width: 100%">
                            <mat-label>Adresse</mat-label>
                            <input type="text"
                                   placeholder="1 rue de l'hotel de ville, 75000, PARIS"
                                   aria-label="Adresse"
                                   matInput
                                   [formControl]="adresseDelegantControl">
                        </mat-form-field>
                        <div style="clear:both"></div>
                        <mat-form-field appearance="fill">
                            <mat-label>Date de contrat</mat-label>
                            <input matInput [matDatepicker]="picker" [formControl]="dateContratDelegantControl">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                        </mat-form-field>

                        <div style="clear:both;"></div>
                        <div style="width:100%;text-align:center">
                            <button mat-raised-button color="primary" (click)="updateDelegataire()" style="margin-right:10px;">Modifier</button>
                            <button mat-raised-button color="primary" (click)="setEditMode(false)" style="">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="retribution-delegataire-titre-et-bouton">
            <h3>Rétributions dûes par Saniteau</h3>
            <div class="retribution-delegataire-button">
                <button mat-raised-button color="primary" (click)="creerRetributionsDelegataire()">Enregistrer le paiement de la rétribution</button>
            </div>
        </div>
        <br />
        <div class="retribution-delegataire-releve-nom-paye">
            Prochaine paye dûe
        </div>
        <div style="clear:both"></div>
        <div class="retribution-delegataire-releve-marge-gauche retribution-delegataire-montant-du">
            <div>
                <span style="float:left">Somme des facturations</span>
                <span style="float:right">1000€</span>
            </div>
            <div style="clear:both"></div>
            <div class="retribution-delegataire-releve-ligne-paye">
                <span style="float:left">Part Saniteau</span>
                <span style="float:right">300€</span>
            </div>
            <div style="clear:both"></div>
            <div class="retribution-delegataire-releve-ligne-paye">
                <span style="float:left">Part du délégataire</span>
                <span style="float:right">700€</span>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="retribution-delegataire-releve-detail">
            Relèves effectuées
        </div>
        <div style="clear:both"></div>
        <div class="retribution-delegataire-releve-marge-gauche">
            <table class="retribution-delegataire-releve-table">
                <tr>
                    <td>Date</td>
                    <td>Consommé (m^3)</td>
                    <td>Fuites (m^3)</td>
                </tr>
                <tr>
                    <td>01/10/2020</td>
                    <td>1302</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>20/11/2020</td>
                    <td>568</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td>TOTAL</td>
                    <td>1870</td>
                    <td>632</td>
                </tr>
            </table>
        </div>
    </div>
</mat-card>
