mat-card {
    height: auto;
    min-width: 90%;
    padding-top: 40px !important;
}

.main-page-card-wrapper {
    position: relative;
    /*    top: -90px;
    padding-top: 110px;
*/ padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    overflow-x: auto;
}

.main-page-card-title {
    position: relative;
    z-index: 99;
    top: 20px;
    left: 20px;
    border: solid lightgray 1px;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 21px;
    background-color: white;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 255, .2);
}

.errorMessageDelegationPaye {
    padding: 20px;
    font-weight: bold;
    font-size: large;
}


.img-facturation-dsp {
    width: 200px;
}
.retribution-delegataire-image-et-identite-divider {
    clear: both;
}

@media screen and (min-width:600px){
    .retribution-delegataire-identite-wrapper {
        display: flex;
    }
    .retribution-delegataire-image-et-identite-divider {
        clear: none;
    }

}


.retribution-delegataire-releve-marge-gauche {
    margin-left: 20px;
}

table.retribution-delegataire-releve-table tr:nth-child(0n+1) td {
    border-top: none;
    font-weight: bold;
    text-align: center;
}

table.retribution-delegataire-releve-table tr td:nth-child(0n+1) {
    border-left: none;
    text-align: left;
}

table.retribution-delegataire-releve-table tr td {
    border-left: solid 1px black;
    border-top: solid 1px black;
    text-align: right;
}

.retribution-delegataire-releve-nom-paye {
    border-bottom: double 3px black;
    font-weight: bold;
}

.retribution-delegataire-releve-detail {
    border-bottom: double 3px black;
    font-weight: bold;
}

.retribution-delegataire-releve-ligne-paye {
    border-top: solid 1px black;
}

@media screen and (min-width:850px){
    .retribution-delegataire-titre-et-bouton {
        display: flex;
        grid-template-columns: auto auto 1fr;
        column-gap: 5%;
    }
}
.retribution-delegataire-montant-du{
    max-width:400px;
}
.retribution-delegataire-releve-table {
    width: 100%;
    max-width: 400px;
}










