<div class="main-page-card-title">
    <h3 style="display: inline;">Facturation des abonnés</h3>
</div>
<mat-card>
    <div class="main-page-card-wrapper">
        <div style="display: flex" class="mat-error">
            <span [ngClass]="{'errorMessageFacturationPaiement' : errorMessage != ''}">{{errorMessage}}</span>
        </div>
        <div style="clear:both;"></div>
        <div class="lancer-facturation-wrapper">
            <img src="../../../wwwroot/img/facturation.jpg" alt="Facturation" class="img-facturation">
            <div class="button-lancer-facturation">
                <button mat-raised-button color="primary" (click)="creerFacturations()">Lancer une campagne de facturation</button>
            </div>
        </div>
        <div style="clear:both;"></div>
        <div>
            <h3>Critères de filtrage</h3>
            <div>
                <mat-radio-group aria-label="Paimement" style="display: flex; flex-direction: column">
                    <mat-radio-button value="0" [checked]="true" (click)="filterFacturationsByPayment('paye-non-paye')">Payée et non payée</mat-radio-button>
                    <mat-radio-button value="1" (click)="filterFacturationsByPayment('paye')">Payée</mat-radio-button>
                    <mat-radio-button value="2" (click)="filterFacturationsByPayment('non-paye')">Non payée</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>

            </div>
        </div>
        <div class="facturation-wrapper">
            <div class="abonne-campagne-content">
                <h3>Factures par campagnes de facturations</h3>
                <mat-accordion *ngFor="let facturationParCampagne of facturationsParCampagnes">
                    <mat-expansion-panel class="facturation-ligne">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Campagne {{facturationParCampagne.idCampagneFacturation}} émise le {{facturationParCampagne.dateFacturationAsString}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p *ngFor="let facturation of facturationParCampagne.facturations; let even = even; let odd = odd"
                           class="facturations-list"
                           [ngClass]="{ even: even, odd: odd }">
                            <span style="margin-top:auto;margin-bottom:auto">
                                Facture de {{facturation.abonne.prenom}} {{facturation.abonne.nom}} d'un montant de {{getFacturationAmountEuros(facturation)}} {{(facturation.payee) ? 'payée' : 'non payée'}}
                            </span>
                            <button mat-button [ngStyle]="{'display':(facturation.payee) ? 'none' : 'block' }" (click)="payFacturation(facturation.idFacturation)">
                                <mat-icon>attach_money</mat-icon>
                                <span>Payer</span>
                            </button>
                            <button mat-button (click)="openDetails(facturation.idFacturation)">
                                <mat-icon>format_list_numbered</mat-icon>
                                <span>Details</span>
                            </button>
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</mat-card>
